{% load static %}
<!DOCTYPE html>
<html>
<head>
  <title>Confirmation</title>
  <!--JAVA FOR NAVBAR-->
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

<link rel="stylesheet" type="text/css" href="{% static 'mis446/main.css' %}">

<!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <!--END JAVA FOR NAVBAR-->
</head>
 

  <body style = "Background-image: url('https://images.assetsdelivery.com/compings_v2/spaxia/spaxia1703/spaxia170300094.jpg');">

  <header class="site-header">
      <nav class="navbar navbar-dark bg-steel fixed-top">
        <div class="container">
          <a class="navbar-brand mr-4" href="{% url 'ACRMS-Home' %}">ACRMS</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
             <span class="navbar-toggler-icon"></span>
           </button>
              <div  class="collapse navbar-collapse" id="navbarToggle">
              <div class="navbar-nav mr-right">
               <a class="nav-item nav-link" href="{% url 'ACRMS-Home' %}">Home</a>
              <a class="nav-item nav-link" href="{% url 'ACRMS-Home' %}">User Manual</a>
              <a class="nav-item nav-link" href="{% url 'ACRMS-Login' %}">Logout</a>
             </div>
        <!-- Navbar Right Side -->
             
             
            </div>
           </div>
       </div>
   </nav>
  </header>

<center>
<label for="order"><h2 style= "color:#EAEAEA"><u>Order Processed Successfully!</u></h2></label>
<br>
<!--Change due label and text area-->
<label for="Change-Due"><h2 style= "color:#EAEAEA">Change Due:</h2></label>
<br>
<textarea readonly class="fixed-right" id="Change-Due" name="Change-Due" rows="1" cols="35">
</textarea>
  <br>
<img src="https://assets3.thrillist.com/v1/image/2853682/size/gn-gift_guide_variable_c.jpg"></img>
</center>
 </body>
</html>